* {
    box-sizing: border-box;
}

body {
    background-color: pink;
    margin: 0 0;
}

#main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#main > header {
    display: flex;
    justify-content: center;
    padding: 20px 0;
    background-color: grey;
    width: 100%;
    margin: 0 0 20px;
}

#tabs-container {
    background-color: blue;
    width: 90%;
    height: auto;
    margin: 10px 0;
    padding: 20px;
    display: flex;
    flex-direction:  column;
    align-items: center;
    border-radius: 10px;
}

#tabs-container > .btns-container {
    display: flex;
    gap: 10px;
    margin-right: auto;
    margin-left: 10px;
}

#directory-container {
    background-color: palegoldenrod;
    border-radius: 10px;
    width: 100%;
    height: auto;
    display: flex;
}

.directory-tab {
    display: flex;
    min-height: 200px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

#opened-icon-tab {
    width: 50%;
    height: 100%;
}

#home {
    width: 100%;
    height: 100%;
    border-radius: inherit;
    background-color: aqua;
}

#guide {
    width: 100%;
    height: 100%;
    border-radius: inherit;
    background-color: yellow;
}

#information {
    width: 100%;
    height: 100%;
    border-radius: inherit;
    background-color: green;
}

.directory-tab {
    display: flex;
    gap: 20px;
    justify-content:  space-between;
    padding: 20px;
}

.main-icon {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100px;
    min-height: 170px;
    flex-wrap: wrap;
}

.main-icon > .sub-icons {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5px;
    flex-wrap: wrap;
}

.icon {
    width: 100px;
    height: 100px;
    background-color: grey;
}

.sub-icon {
    width: 20px;
    height: 20px;
    background-color: brown;
}

